version: "3.1"

services:
  fastify-app:
    build: .
    container_name: fastify-key-management
    environment:
      # Credenciales para que el SDK de la App maneje el Share 2
      - HOT_PROJECT_ID=${HOT_PROJECT_ID}
      - HOT_CLIENT_ID=${HOT_CLIENT_ID}
      - HOT_CLIENT_SECRET=${HOT_CLIENT_SECRET}

      # Credenciales para que el SDK de la App maneje el Share 3
      - COLD_PROJECT_ID=${COLD_PROJECT_ID}
      - COLD_CLIENT_ID=${COLD_CLIENT_ID}
      - COLD_CLIENT_SECRET=${COLD_CLIENT_SECRET}

      # Ruta del JSON generado por el Agente (Configuración general)
      - SECRETS_PATH=/app/secrets/config.json
      - INFISICAL_ENV=${INFISICAL_ENV}
    volumes:
      - "infisical-config-vol:/app/secrets:ro"
    depends_on:
      - config-agent

  config-agent:
    image: "infisical/cli:0.18.0"
    container_name: infisical-agent-config
    environment:
      - INFISICAL_CLIENT_ID=${AGENT_CLIENT_ID}
      - INFISICAL_CLIENT_SECRET=${AGENT_CLIENT_SECRET}
      - INFISICAL_PROJECT_ID=${AGENT_PROJECT_ID}
      - INFISICAL_ENV=${INFISICAL_ENV}
    volumes:
      - "infisical-config-vol:/app-secrets"
    entrypoint: ["/bin/sh", "-c"]
    command:
      - |
        mkdir -p /etc/infisical

        # Plantilla para el JSON de configuración general
        cat << 'EOF' > /etc/infisical/json.tmpl
        {
          {{- with secret "[[PROJECT_ID]]" "[[ENV]]" "/" }}
          {{- range $index, $secret := . }}
          {{- if $index }},{{ end }}
          "{{ $secret.Key }}": "{{ $secret.Value }}"
          {{- end }}
          {{- end }}
        }
        EOF

        sed -i "s/\[\[PROJECT_ID\]\]/$INFISICAL_PROJECT_ID/g" /etc/infisical/json.tmpl
        sed -i "s/\[\[ENV\]\]/$INFISICAL_ENV/g" /etc/infisical/json.tmpl

        # Configuración del Agente
        echo "
        infisical:
          address: 'https://app.infisical.com'
        auth:
          type: 'universal-auth'
          config:
            client-id: '$INFISICAL_CLIENT_ID'
            client-secret: '$INFISICAL_CLIENT_SECRET'
        sinks:
          - type: 'file'
            config:
              path: '/app-secrets/access-token'
        templates:
          - source-path: '/etc/infisical/json.tmpl'
            destination-path: '/app-secrets/config.json'
            config:
              polling-interval: 60s
        " > /etc/infisical/config.yaml

        infisical agent --config=/etc/infisical/config.yaml

volumes:
  infisical-config-vol:
